.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 20px 30px;
  font-size: 1.125rem;
  border: 2px solid #fff;
  outline: none;
  transition: .5s;

  &-primary {
    background: #fff;
    color: $dark;

    &:hover {
      background: $dark;
      color: #fff;
    }
  }
}