// Body
$body-bg: #f9f9f9;

// Typography
$font-family-base: 'Fira Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark: #1d2024;
$yellow: #fae43d;
$secondary: #666a6e;
$accents: #f4645f;
$success: #388E3C;
$danger: #C62828;
$primary: $accents;
$link-color: $dark;

$link-hover-decoration: none;
