$icomoon-font-family: "impression" !default;
$icomoon-font-path: "../../../fonts/impression-iconfont" !default;

$i-oops: "\e95f";
$i-add-user: "\e900";
$i-add: "\e901";
$i-alert: "\e902";
$i-app: "\e903";
$i-arrow-back: "\e904";
$i-arrow-back-2: "\e905";
$i-bookmark: "\e906";
$i-bullet-list: "\e907";
$i-burger-menu: "\e908";
$i-calendar: "\e909";
$i-camera: "\e90a";
$i-chat: "\e90b";
$i-clock: "\e90c";
$i-close: "\e90d";
$i-cloud: "\e90e";
$i-copy: "\e90f";
$i-credit-card: "\e910";
$i-dashboard: "\e911";
$i-edit: "\e912";
$i-enter: "\e913";
$i-envelope: "\e914";
$i-flask: "\e915";
$i-exit: "\e916";
$i-export: "\e917";
$i-finger-print: "\e918";
$i-flag: "\e919";
$i-flash: "\e91a";
$i-floppy: "\e91b";
$i-flux-capacitor: "\e91c";
$i-folder: "\e91d";
$i-grid: "\e91e";
$i-grid-2: "\e91f";
$i-group: "\e920";
$i-heart: "\e921";
$i-help: "\e922";
$i-home: "\e923";
$i-key: "\e924";
$i-laptop: "\e925";
$i-layers: "\e926";
$i-bulb: "\e927";
$i-graph: "\e928";
$i-link: "\e929";
$i-search: "\e92a";
$i-mail: "\e92b";
$i-man-sign: "\e92c";
$i-man: "\e92d";
$i-menu: "\e92e";
$i-monitor: "\e92f";
$i-pencil: "\e930";
$i-phone: "\e931";
$i-pie-chart: "\e932";
$i-pin: "\e933";
$i-portfolio: "\e934";
$i-receipt: "\e935";
$i-safe: "\e936";
$i-settings: "\e937";
$i-share: "\e938";
$i-shield: "\e939";
$i-shopping-cart: "\e93a";
$i-smartphone: "\e93b";
$i-structure: "\e93c";
$i-tag: "\e93d";
$i-target: "\e93e";
$i-template: "\e93f";
$i-thumbs-up: "\e940";
$i-trash: "\e941";
$i-versions: "\e942";
$i-video: "\e943";
$i-wallet: "\e944";
$i-webinar: "\e945";
$i-widget: "\e946";
$i-woman-sign: "\e947";
$i-bell: "\e948";
$i-book: "\e949";
$i-clipboard: "\e94a";
$i-check-box: "\e94b";
$i-delivery: "\e94c";
$i-diagram: "\e94d";
$i-filters: "\e94e";
$i-noun_export_1466008: "\e94f";
$i-funnel: "\e950";
$i-gallery: "\e951";
$i-import: "\e952";
$i-image: "\e953";
$i-lock: "\e954";
$i-new-file: "\e955";
$i-magnet: "\e956";
$i-newspaper: "\e957";
$i-rocket: "\e958";
$i-reload: "\e959";
$i-woman: "\e95a";
$i-user: "\e95b";
$i-speech: "\e95c";
$i-star: "\e95d";
$i-users: "\e95e";

