@import "font_variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tieptq');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tieptq#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?tieptq') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?tieptq') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?tieptq##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-oops {
  &:before {
    content: $i-oops; 
  }
}
.i-add-user {
  &:before {
    content: $i-add-user; 
  }
}
.i-add {
  &:before {
    content: $i-add; 
  }
}
.i-alert {
  &:before {
    content: $i-alert; 
  }
}
.i-app {
  &:before {
    content: $i-app; 
  }
}
.i-arrow-back {
  &:before {
    content: $i-arrow-back; 
  }
}
.i-arrow-back-2 {
  &:before {
    content: $i-arrow-back-2; 
  }
}
.i-bookmark {
  &:before {
    content: $i-bookmark; 
  }
}
.i-bullet-list {
  &:before {
    content: $i-bullet-list; 
  }
}
.i-burger-menu {
  &:before {
    content: $i-burger-menu; 
  }
}
.i-calendar {
  &:before {
    content: $i-calendar; 
  }
}
.i-camera {
  &:before {
    content: $i-camera; 
  }
}
.i-chat {
  &:before {
    content: $i-chat; 
  }
}
.i-clock {
  &:before {
    content: $i-clock; 
  }
}
.i-close {
  &:before {
    content: $i-close; 
  }
}
.i-cloud {
  &:before {
    content: $i-cloud; 
  }
}
.i-copy {
  &:before {
    content: $i-copy; 
  }
}
.i-credit-card {
  &:before {
    content: $i-credit-card; 
  }
}
.i-dashboard {
  &:before {
    content: $i-dashboard; 
  }
}
.i-edit {
  &:before {
    content: $i-edit; 
  }
}
.i-enter {
  &:before {
    content: $i-enter; 
  }
}
.i-envelope {
  &:before {
    content: $i-envelope; 
  }
}
.i-flask {
  &:before {
    content: $i-flask; 
  }
}
.i-exit {
  &:before {
    content: $i-exit; 
  }
}
.i-export {
  &:before {
    content: $i-export; 
  }
}
.i-finger-print {
  &:before {
    content: $i-finger-print; 
  }
}
.i-flag {
  &:before {
    content: $i-flag; 
  }
}
.i-flash {
  &:before {
    content: $i-flash; 
  }
}
.i-floppy {
  &:before {
    content: $i-floppy; 
  }
}
.i-flux-capacitor {
  &:before {
    content: $i-flux-capacitor; 
  }
}
.i-folder {
  &:before {
    content: $i-folder; 
  }
}
.i-grid {
  &:before {
    content: $i-grid; 
  }
}
.i-grid-2 {
  &:before {
    content: $i-grid-2; 
  }
}
.i-group {
  &:before {
    content: $i-group; 
  }
}
.i-heart {
  &:before {
    content: $i-heart; 
  }
}
.i-help {
  &:before {
    content: $i-help; 
  }
}
.i-home {
  &:before {
    content: $i-home; 
  }
}
.i-key {
  &:before {
    content: $i-key; 
  }
}
.i-laptop {
  &:before {
    content: $i-laptop; 
  }
}
.i-layers {
  &:before {
    content: $i-layers; 
  }
}
.i-bulb {
  &:before {
    content: $i-bulb; 
  }
}
.i-graph {
  &:before {
    content: $i-graph; 
  }
}
.i-link {
  &:before {
    content: $i-link; 
  }
}
.i-search {
  &:before {
    content: $i-search; 
  }
}
.i-mail {
  &:before {
    content: $i-mail; 
  }
}
.i-man-sign {
  &:before {
    content: $i-man-sign; 
  }
}
.i-man {
  &:before {
    content: $i-man; 
  }
}
.i-menu {
  &:before {
    content: $i-menu; 
  }
}
.i-monitor {
  &:before {
    content: $i-monitor; 
  }
}
.i-pencil {
  &:before {
    content: $i-pencil; 
  }
}
.i-phone {
  &:before {
    content: $i-phone; 
  }
}
.i-pie-chart {
  &:before {
    content: $i-pie-chart; 
  }
}
.i-pin {
  &:before {
    content: $i-pin; 
  }
}
.i-portfolio {
  &:before {
    content: $i-portfolio; 
  }
}
.i-receipt {
  &:before {
    content: $i-receipt; 
  }
}
.i-safe {
  &:before {
    content: $i-safe; 
  }
}
.i-settings {
  &:before {
    content: $i-settings; 
  }
}
.i-share {
  &:before {
    content: $i-share; 
  }
}
.i-shield {
  &:before {
    content: $i-shield; 
  }
}
.i-shopping-cart {
  &:before {
    content: $i-shopping-cart; 
  }
}
.i-smartphone {
  &:before {
    content: $i-smartphone; 
  }
}
.i-structure {
  &:before {
    content: $i-structure; 
  }
}
.i-tag {
  &:before {
    content: $i-tag; 
  }
}
.i-target {
  &:before {
    content: $i-target; 
  }
}
.i-template {
  &:before {
    content: $i-template; 
  }
}
.i-thumbs-up {
  &:before {
    content: $i-thumbs-up; 
  }
}
.i-trash {
  &:before {
    content: $i-trash; 
  }
}
.i-versions {
  &:before {
    content: $i-versions; 
  }
}
.i-video {
  &:before {
    content: $i-video; 
  }
}
.i-wallet {
  &:before {
    content: $i-wallet; 
  }
}
.i-webinar {
  &:before {
    content: $i-webinar; 
  }
}
.i-widget {
  &:before {
    content: $i-widget; 
  }
}
.i-woman-sign {
  &:before {
    content: $i-woman-sign; 
  }
}
.i-bell {
  &:before {
    content: $i-bell; 
  }
}
.i-book {
  &:before {
    content: $i-book; 
  }
}
.i-clipboard {
  &:before {
    content: $i-clipboard; 
  }
}
.i-check-box {
  &:before {
    content: $i-check-box; 
  }
}
.i-delivery {
  &:before {
    content: $i-delivery; 
  }
}
.i-diagram {
  &:before {
    content: $i-diagram; 
  }
}
.i-filters {
  &:before {
    content: $i-filters; 
  }
}
.i-noun_export_1466008 {
  &:before {
    content: $i-noun_export_1466008; 
  }
}
.i-funnel {
  &:before {
    content: $i-funnel; 
  }
}
.i-gallery {
  &:before {
    content: $i-gallery; 
  }
}
.i-import {
  &:before {
    content: $i-import; 
  }
}
.i-image {
  &:before {
    content: $i-image; 
  }
}
.i-lock {
  &:before {
    content: $i-lock; 
  }
}
.i-new-file {
  &:before {
    content: $i-new-file; 
  }
}
.i-magnet {
  &:before {
    content: $i-magnet; 
  }
}
.i-newspaper {
  &:before {
    content: $i-newspaper; 
  }
}
.i-rocket {
  &:before {
    content: $i-rocket; 
  }
}
.i-reload {
  &:before {
    content: $i-reload; 
  }
}
.i-woman {
  &:before {
    content: $i-woman; 
  }
}
.i-user {
  &:before {
    content: $i-user; 
  }
}
.i-speech {
  &:before {
    content: $i-speech; 
  }
}
.i-star {
  &:before {
    content: $i-star; 
  }
}
.i-users {
  &:before {
    content: $i-users; 
  }
}

