.item {
    padding: 20px 20px 20px 40px;
    margin-bottom: 10px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    position: relative;

    &:hover {
        background-color: $body-bg;
    }

    &-body {
        @extend .row;
        @extend .justify-content-between;
    }

    &-id {
        position: absolute;
        height: 20px;
        background-color: $accents;
        color: #fff;
        top: 20px;
        right: 100%;
        margin-right: -20px;
        min-width: 40px;
        padding: 0 10px;
        border-radius: $border-radius;

        font: 800 0.75rem/20px $font-family-base;
    }

    &-footer {
        margin-top: 10px;
    }
}
