body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    padding-left: 280px;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
