.data-table {
    &-item {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 10px;

        &:hover {
            background-color: $light;
        }

        .image {
            flex: 1 1 150px;
            max-width: 150px;
        }

        .title {
            flex: 1 0 auto;
            margin-right: 1rem;
        }

        .date {
            flex: 1 1 110px;
            max-width: 110px;
        }

        .countries {
            flex: 1 1 50px;
            max-width: 50px;
            margin: 4px 5px;

            img {
                width: 20px;
                height: 10px;
                margin: 2px;
            }
        }

        .comments {
            flex: 1 1 40px;
            max-width: 40px;
            text-align: center;
        }

        .custom-checkbox {
            padding-left: 0;
            flex: 0 0 28px;

            label {
                display: block;
                width: 16px;
                height: 16px;
                &::before, &::after {
                    left: 0;
                    top: 0;
                }
            }
        }

        &.bg-secondary {
            a {
                color: $white;
                &:hover {
                    color: $accents;
                }
            }
        }
    }
}
